# .gitignore

# Dependencies
/node_modules

# Environment Variables
.env

# Production
/build

# Database files
*.sqlite
*.db
db.sqlite

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# Editor temp and backup files
*~
*.swp
*.swo
.*.swp
*.bak
*.tmp

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test coverage
/coverage